* {
    font-family: sans-serif;
    font-weight: 700;
}


img {
    width: 200px;
    border-radius: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.grid {
    gap: 10px;
    columns: 4;
    column-gap: 1rem;
    margin: 0 0 20px;
}

@media(max-width:1020px) {
    .grid {
        columns: 3;
    }
}

@media(max-width:720px) {
    .grid {
        columns: 2;
    }
}

@media(max-width:720px) {
    .grid {
        columns: 1;
    }
}


.box {
    background: rgb(59, 59, 59);
    border-radius: 5px;
    color: #EEE;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-top: 20px;
    break-inside: avoid;
}

.box p {
    width: 200px
}
.dwonlod{
    cursor: pointer;
}